/* components/Table/Table.module.css */
.table {
  display: block;
  list-style: none;
  margin: 0 0 var(--gap) 0;
  padding: 0;
  background: var(--element-bg-color-base);
  border: 5px solid var(--element-border-color);
  border-radius: 8px;
  width:var(--element-primary-width);
  height: fit-content;
  flex: 0 0 auto;
}

.header {
  display: flex;
  padding: 8px;
  background-color: var(--element-border-color);
  justify-content: space-between;
  height: 40px;
}

.primaryHeader {
  margin: 0;
}

.secondaryHeader {
  color: var(--font-color-secondary);
  margin: 0;
  font-size: 14px;
}

.row {
  display: flex;
  border-top: 1px solid #000000;
  line-height: 32px;
  padding: 5px;
  justify-content: space-between;
}

.row:hover {
  border-left: 5px solid var(--element-emphasis-color);
  background-color: var(--element-bg-color-hover);
  margin: 0 0 0 -5px;
}