/* components/Table/Row/UnqualifiedRow.module.css */
.name {
  text-align: left;
  margin: 0 1rem;
}

.remaining {
  color: var(--font-color-secondary);
  margin: 0;
  font-size: .9rem;
  margin-left: auto;
}